n8n/workflow_1_ingesta.json
{
  "name": "shedule-pricing",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -592,
        -48
      ],
      "id": "d56f9955-ffd9-422f-925d-75ec07796600",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.debugging }}/etl/run",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -96,
        -48
      ],
      "id": "7c8a6057-e018-4f5e-b507-8efc08380224",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f7d62ece-4db7-45c8-8182-c700fa0a3f4c",
              "name": "prod",
              "value": "http://localhost:8000",
              "type": "string"
            },
            {
              "id": "2a94bf23-e7cb-4a09-926a-0f34d65c1838",
              "name": "debugging",
              "value": "http://host.docker.internal:8000",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -336,
        -48
      ],
      "id": "4589f8e8-3fa3-4bf6-8026-03d923615754",
      "name": "env"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "4902d8b0-be0c-4349-a3ca-4d50a3402d23",
              "leftValue": "={{ $json.status }}",
              "rightValue": "ok",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        112,
        -48
      ],
      "id": "ce7df580-8cfb-474f-9a06-cfbb3f85afdb",
      "name": "If"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        352,
        64
      ],
      "id": "98d2b910-8317-44bc-b5b4-debed5707100",
      "name": "No Operation, do nothing"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:5678/webhook/79687973-d4bc-4473-8148-978bedaf078f",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.product_ids }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        352,
        -128
      ],
      "id": "08d772cd-144a-449a-987c-8868af28c9d1",
      "name": "HTTP Request1"
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "env",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "env": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "1faf1a23-bfab-43d5-ad79-6ad7000b9eeb",
  "meta": {
    "instanceId": "e118c926172bbfe1e403861cd2eeee1eb22bdc4e7864fb4b19e758fbae8157a7"
  },
  "id": "pDkZUzk1OFalXrH6",
  "tags": []
}