n8n/workflow_3_reindexacion.json
{
  "name": "rag_index",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "dff6ad3b-34b3-4ea0-a849-5ee3cb8d2b56",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -656,
        0
      ],
      "id": "7b928b85-8e9d-4738-8e14-c93d8d61cff9",
      "name": "Webhook",
      "webhookId": "dff6ad3b-34b3-4ea0-a849-5ee3cb8d2b56"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b14e7511-0938-47dd-874e-9514bc0bf758",
              "name": "product_id",
              "value": "={{ $json.body.product_id }}",
              "type": "string"
            },
            {
              "id": "7d1c2fa1-ab75-4dcf-9342-8f49c8011197",
              "name": "category",
              "value": "={{ $json.body.category }}",
              "type": "string"
            },
            {
              "id": "44ec0799-a04c-4c92-8098-5aabc35266dd",
              "name": "delta_pct",
              "value": "={{ $json.body.delta_pct }}",
              "type": "number"
            },
            {
              "id": "9ed52396-d858-4bc3-a439-3c62573882b2",
              "name": "explanation",
              "value": "={{ $json.body.explanation }}",
              "type": "string"
            },
            {
              "id": "81a35267-09c3-4038-9538-d28edf2ec578",
              "name": "prod",
              "value": "http://localhost:8000",
              "type": "string"
            },
            {
              "id": "e07b30d7-6c68-4e39-a299-cdf9bbd22bc6",
              "name": "debug",
              "value": "http://host.docker.internal:8000",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -112,
        0
      ],
      "id": "d9ccc223-51a0-4765-bd64-eb93ba1ae6c6",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "16b1c25c-0030-474d-a69a-68eef57d4618",
              "leftValue": "={{ $json.product_id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        192,
        0
      ],
      "id": "7863bb2d-7916-49b2-a0a1-c381eb072a88",
      "name": "If"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        400,
        144
      ],
      "id": "849f9b8d-bdb3-4e18-922c-8e07a9dceea6",
      "name": "No Operation, do nothing"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Edit Fields').item.json.debug }}/rag/reindex",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "product_id",
              "value": "={{ $('Edit Fields').item.json.product_id }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": true
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        432,
        -16
      ],
      "id": "eb42b66d-2a44-4bc0-aec1-a6a05ea630d1",
      "name": "HTTP Request",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "amount": 1
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -336,
        0
      ],
      "id": "0bb40a9c-6c98-433b-8938-d09760bfe46e",
      "name": "Wait",
      "webhookId": "0f91fd35-ef19-4293-91f2-04e7bff554d8"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "b8769834-04bf-4a81-8204-631d0f1e514f",
              "leftValue": "={{ $json.statusCode }}",
              "rightValue": 200,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        672,
        -16
      ],
      "id": "699713b8-ee5e-4680-ab3c-14845180b054",
      "name": "If1"
    },
    {
      "parameters": {
        "jsCode": "const products = $json.body?.products ?? [];\nconst out = [];\n\nfunction toUint32Id(value) {\n  // Hash simple deterministico -> entero unsigned 32-bit\n  let h = 2166136261; // FNV offset basis\n  for (let i = 0; i < value.length; i++) {\n    h ^= value.charCodeAt(i);\n    h = Math.imul(h, 16777619);\n  }\n  return h >>> 0;\n}\n\nfor (const p of products) {\n  for (const c of (p.chunks ?? [])) {\n    const rawChunkId = String(c.chunk_id ?? \"\");\n    const pointId = toUint32Id(rawChunkId);\n\n    out.push({\n      json: {\n        point_id: pointId,         // <- usar esto como \"id\" en Qdrant\n        chunk_id: rawChunkId,      // <- guardar original en payload\n        product_id: c.product_id,\n        source: c.source,\n        text: c.text,\n        metadata: c.metadata ?? {},\n      }\n    });\n  }\n}\n\nreturn out;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        928,
        -32
      ],
      "id": "648d922d-cc39-4757-8499-7fab23f6b4c7",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        896,
        144
      ],
      "id": "939a299b-e473-48a4-9348-80d3a84b307c",
      "name": "No Operation, do nothing1"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1184,
        -32
      ],
      "id": "ee850c45-dfad-4aff-91b3-188efca43bb2",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/embeddings",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"text-embedding-3-small\",\n  \"input\": {{  JSON.stringify($('Code in JavaScript').item.json.text) }}\n}",
        "options": {
          "response": {
            "response": {
              "fullResponse": true
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1424,
        -16
      ],
      "id": "21b77c78-8225-4ea3-93ce-560ec7f1f08e",
      "name": "HTTP Request1",
      "credentials": {
        "httpHeaderAuth": {
          "id": "E4h5OhC2QiAraRGH",
          "name": "headerOpenAI"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "amount": 2
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1856,
        -32
      ],
      "id": "bc9cb7e9-3642-4d3e-abda-f7e0e8567fa0",
      "name": "Wait1",
      "webhookId": "afb66d59-a61c-426f-a58e-055c96c635a6"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "45b5c5cd-296e-4da0-84e3-75607253b154",
              "name": "embbeings",
              "value": "={{ $('HTTP Request1').item.json.body.data[0].embedding }}",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2064,
        -16
      ],
      "id": "e48623e2-1ae8-4b87-acaa-ef408ce16d8b",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "http://qdrant:6333/collections/crypto_chunks/points?wait=true",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"points\": [\n    {\n      \"id\": {{ $('Code in JavaScript').item.json.point_id }},\n      \"vector\": {{ JSON.stringify($json.embbeings) }},\n      \"payload\": {\n        \"product_id\": \"{{ $('Code in JavaScript').item.json.product_id }}\",\n        \"source\": \"{{ $('Code in JavaScript').item.json.source }}\",\n        \"text\": {{  JSON.stringify($('Code in JavaScript').item.json.text) }},\n        \"metadata\": {{ JSON.stringify($('Code in JavaScript').item.json.metadata) }}\n      }\n    }\n  ]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        2368,
        160
      ],
      "id": "919802ed-203d-498d-a853-04d740bacc7e",
      "name": "HTTP Request2"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "weeks"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -688,
        320
      ],
      "id": "a73e0682-9ccc-4484-bbad-f22d5a09eb19",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f7d62ece-4db7-45c8-8182-c700fa0a3f4c",
              "name": "prod",
              "value": "http://localhost:8000",
              "type": "string"
            },
            {
              "id": "2a94bf23-e7cb-4a09-926a-0f34d65c1838",
              "name": "debugging",
              "value": "http://host.docker.internal:8000",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -464,
        320
      ],
      "id": "d54c64e7-4f07-470d-a656-532573cc3658",
      "name": "env"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.debugging }}/etl/run",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -224,
        320
      ],
      "id": "e22fd8a7-1680-418e-8493-d3d686bf0164",
      "name": "HTTP Request3"
    },
    {
      "parameters": {
        "fieldToSplitOut": "crypto_currency",
        "include": "allOtherFields",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        192,
        320
      ],
      "id": "6122d078-8ed5-49fc-b75e-da1039a83fb8",
      "name": "Split Out"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a0c6441b-6e1c-4b77-bb6f-41e0efec1b74",
              "name": "crypto_currency",
              "value": "={{ $json.product_ids }}",
              "type": "array"
            },
            {
              "id": "52d9397e-6cb7-4183-a306-cf9450395952",
              "name": "prod",
              "value": "http://localhost:8000",
              "type": "string"
            },
            {
              "id": "cd270e51-6cc3-430e-9374-dde3fe8a9620",
              "name": "debug",
              "value": "http://host.docker.internal:8000",
              "type": "string"
            },
            {
              "id": "4684df6c-326f-4256-9d15-fae587134ece",
              "name": "",
              "value": "",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        0,
        320
      ],
      "id": "7039c9f3-5b72-4bb0-944f-174ee17a152e",
      "name": "Edit Fields2"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Edit Fields2').item.json.debug }}/rag/reindex",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "product_id",
              "value": "={{ $json.crypto_currency }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": true
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        432,
        320
      ],
      "id": "714ef85f-80e5-470b-9772-d6edc6e16659",
      "name": "HTTP Request4"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "6de7bb66-844f-4d86-abf6-5b05e7a9da31",
              "leftValue": "={{ $json.statusCode }}",
              "rightValue": 200,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1616,
        -16
      ],
      "id": "cfea7d09-a8fb-4ade-8dc6-f0f389b6dc24",
      "name": "If2"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1824,
        144
      ],
      "id": "6edd6536-3071-4682-b247-e01780602b1f",
      "name": "No Operation, do nothing2"
    }
  ],
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "accept": "application/json,text/html,application/xhtml+xml,application/xml,text/*;q=0.9, image/*;q=0.8, */*;q=0.7",
            "content-type": "application/json",
            "user-agent": "axios/1.15.0",
            "content-length": "249",
            "accept-encoding": "gzip, compress, deflate, br",
            "host": "localhost:5678",
            "connection": "close"
          },
          "params": {},
          "query": {},
          "body": {
            "product_id": "ethereum",
            "category": "DATA_ERROR",
            "delta_pct": 0.7962,
            "explanation": "Outlier detected, but delta_pct (0.7962%) is below opportunity threshold (15.00%), so it was classified as DATA_ERROR.",
            "detected_at": "2026-04-16T15:37:19.247-04:00"
          },
          "webhookUrl": "http://localhost:5678/webhook/dff6ad3b-34b3-4ea0-a849-5ee3cb8d2b56",
          "executionMode": "production"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ],
    "Schedule Trigger": [
      {
        "json": {
          "timestamp": "2026-04-16T17:58:27.868-04:00",
          "Readable date": "April 16th 2026, 5:58:27 pm",
          "Readable time": "5:58:27 pm",
          "Day of week": "Thursday",
          "Year": "2026",
          "Month": "April",
          "Day of month": "16",
          "Hour": "17",
          "Minute": "58",
          "Second": "27",
          "Timezone": "America/New_York (UTC-04:00)"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "No Operation, do nothing": {
      "main": [
        []
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "If2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait1": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "HTTP Request2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request2": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "env": {
      "main": [
        [
          {
            "node": "HTTP Request3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "env",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request3": {
      "main": [
        [
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields2": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "HTTP Request4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request4": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If2": {
      "main": [
        [
          {
            "node": "Wait1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "03e2d878-36c5-4416-b27e-1b24f131d737",
  "meta": {
    "instanceId": "e118c926172bbfe1e403861cd2eeee1eb22bdc4e7864fb4b19e758fbae8157a7"
  },
  "id": "EFy8CWO1C3tqvI9P",
  "tags": []
}